################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/testing2.pyproj
/testing2.sln
/src/__pycache__
/src/analysis/__pycache__
/tests/__pycache__
*.user
/TestResults
