################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/data
/testing2.pyproj
/testing2.sln
*__pycache__
*.user
/TestResults
