################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/analitic/__pycache__
/src/tests/__pycache__
/testing2.pyproj
/testing2.sln
/src/analytic/__pycache__
/tests/__pycache__
*.user
/src/__pycache__
/TestResults
